
body {
  margin: 0;
  font-family: 'Helvetica', sans-serif;
  color: #888;
  line-height: 1.5;
}

header {
  margin: 5%;
  max-width: 30%;
}

.slider {
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 80px;
}
.slider img {
  width: 100%;
}

.slick-next {
  right: 4%;
}
.slick-prev {
  left: 4%;
}
.slick-prev, .slick-next {
  height: auto;
  width: auto;
}
.slick-prev:before, .slick-next:before {
  font-size: 50px;
}

.gallery {
  margin-bottom: 80px;
}

.gallery ul {
  margin: 0 auto;
  padding: 0;
  width: 80%;
}

.gallery li {
  width: 47%;
  display: inline-block;
  list-style: none;
  padding: 1%;
  vertical-align: middle;
}

.gallery li img {
  max-width: 100%;
  opacity: 0;
  transition: opacity .3s ease-in;
}

.time-check-container {
  text-align: center;
  margin-bottom: 80px;
}

button {
  text-align: center;
  margin: 0 auto;
  border-radius: 0;
  background-color: #888;
  color: white;
  width: 200px;
  height: 50px;
  font-size: 18px;
  font-family: Helvetica, sans-serif;
  letter-spacing: .04em;
  font-weight: 300;
}
button:hover {
  opacity: .7
}
.box2 {
  opacity: .5;
}
.box3 {
  opacity: .3;
}

.contact {
  padding: 0 5%;
  width: 50%;
  margin: 0 auto;
}

@media (max-width: 640px) {
  header {
    max-width: 100%;
  }
  .contact {
    width: 80%;
  }
}